*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-color: black; */
    color: white;
}
body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 20%;
    /* background-color: black; */
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}
nav img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    /* border: 1px solid white; */
    
}
nav a{
    text-decoration: none;
    padding: 0px 10px;
    transition-delay: 0.5s;
    animation-name: car;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    animation-fill-mode: backwards;
    -o-animation-iteration-count: infinite;
    transition: 05s ease;
}
nav a:hover{
    box-shadow: 0 0 10px white;
}
@keyframes car {
    form{
     
    }
    to{
     color: white;
    }
}
nav a:hover{
    color: yellow;
}
@media only screen and (max-width:480px) {
    nav{
        flex-direction: column;
        align-items: center;
    }
    nav img{
        margin-bottom: 10px;
        box-shadow: 0 0 10px white;
    }
}
.center{
    width: 100%;
    height: 80px;
    text-align: center;
    padding: 20px 10px;
}
.center h1{
    color: #0fe;
    font-size: 50px;
}
label h1{
    color: red;
    animation-name: nice;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}
@keyframes nice {
    form{
     color: 
    }
    to{
        color:red ;
    }
}
.center button{
  padding: 10px 20px;
  margin: 10px;
  background-color: rgba(255, 255, 0, 0.131);
  cursor: pointer;
  border: none;
  border: 2px solid white;
  transition: 0.5s ease;
}
.center button:hover{
    box-shadow: 0 0 10px white;
    background-color: transparent;
}
.back{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -9;
}
@media (min-aspect-ratio: 16/9) {
    .back{
        width: 100%;
        height: auto;
    }
}
@media (min-aspect-ratio: 16/9) {
    .back{
        width: auto;
        height: auto;
    }
}
